@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf") format("opentype");
}

* {
    font-family: "Norse Bold";
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.hero-container {
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    height: 100vh;
    width: 30vw;
    /* Todo: change for smartphone*/
}