@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf") format("opentype");
}

* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*border: 2px solid red;*/

.flex-container {
    display: flex;
    flex-wrap: wrap;

}

/* Todo: change layout for smartphone*/
.hero-container {
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    height: 100vh;
    width: 30%;
    color: white;
}

.hero-title {
    font-family: "Norse Bold";
    font-size: 75px;
    padding: 10px;
    margin-top: 50%;
    display: flex;
    justify-content: center;
    /** X-axis align **/
    background: rgba(0, 0, 0, 0.4)
        /*  40% opaque black */
}

.hero-photo-source {
    font-size: small;
    font-weight: normal;
    width: 100%;
    margin-top: 90%;
    display: inline-block;
    text-align: center;
}

.hero-photo-source:nth-of-type(1)>a {
    color: white;
}

.main-container {
    height: 100vh;
    width: 70%;
    background-color: lightgray;
}


main:first-child h2 {
    padding: 5%;
}

main:first-child h3 {
    padding: 5%;
}


.form-container {
    background-color: aliceblue;
    padding: 5%;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input {
    width: 90%;
}

.form-input-container {
    width: 30vw;
}

#pwd_error_msg {
    color: red;
    height: 1em;
}

.submit-btn {
    border-radius: 15px;
    position: absolute;
    width: 150px;
    height: 60px;
    top: 80%;
    background-color: #596D48;
    color: white;
}

.log-in {
    font-weight: normal;
    margin-top: 5%;
}